# Python
__pycache__/
*.py[cod]
.venv/
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Lambda artifacts
lambda/*.zip

# Local testing
response.json
*.log
*.bak
.DS_Store

# VS Code (optional)
.vscode/


cat > .gitignore <<EOF
# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.zip

# Python
__pycache__/
*.pyc
.venv/

# MacOS
.DS_Store

#Other
response.json
.venv/
.env
EOF

lambda/*.zip
